.Portfolio_sec {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  transition: 0.5s all;
}
.portfolio_container {
  width: 90%;
  height: 100%;
  display: flex;
  row-gap: 2em;
  flex-direction: column;
}
.portfolio_head h2 {
  color: var(--dark-clr);
}
.portfolio_head p {
  color: #000;
}
.portfolio_head p span {
  color: var(--dark-clr);
  font-weight: bold;
}
@media (max-width: 285px) {
  .portfolio_head h2 {
    font-size: 20px;
  }
  .portfolio_head p {
    font-size: 13px;
  }
}
