.banner {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
}
.banner_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.banner_contents {
  display: flex;
  flex-direction: column;
  row-gap: 0.6em;
}
.banner_contents p {
  color: #000;
  font-size: 17px;
}
.banner_contents h2 {
  font-size: 30px;
  color: #000;
}
.banner_contents a {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .3em;
  color: var(--dark-clr);
  text-decoration: none;
  transition: 0.4s all;
  position: relative;
}
.banner_contents a i {
  font-size: 22px;
}
.banner_contents a:hover {
  transform: translateX(3px);
  color: hsl(from var(--dark-clr) h s calc(l + 25));
}
.banner_contents a::before {
  content: "";
  position: absolute;
  width: 0%;
  border-radius: 2px;
  height: 2px;
  bottom: 0;
  margin-top: 20px;
  background: var(--dark-clr);
  transition: 0.4s all;
  right: 0;
}
.banner_contents a:hover::before {
  width: 40%;
}
.banner_img {
  width: 20em;
  height: 20em;
  overflow: hidden;
  border-radius: 10px 20%;
  transition: 0.5s all;
}
.banner_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s all;
}

@media (max-width: 724px) {
  .banner_contents h2 {
    font-size: 23px;
  }
  .banner_img {
    width: 15em;
    height: 15em;
  }
}
@media (max-width: 545px) {
  .banner_contents h2 {
    font-size: 18px;
  }
  .banner_img {
    width: 15em;
    height: 15em;
  }
}
@media (max-width: 496px) {
  .banner_contents h2 {
    font-size: 18px;
  }
  .banner_img {
    width: 13em;
    height: 13em;
  }
  .banner {
    padding: 9% 0;
  }
}
@media (max-width: 464px) {
  .banner_contents h2 {
    font-size: 18px;
  }
  .banner_img {
    width: 11em;
    height: 11em;
  }
}
@media (max-width: 417px) {
  .banner_container {
    flex-direction: column;
    row-gap: 3em;
  }
  .banner_contents {
    width: 100%;
  }
  .banner_img {
    width: 100%;
    height: 100%;
  }
}
